<% layout('campgrounds/layouts/boilerplate') %> 
<div class="row">
    <h1 class="text-center">new camp</h1>
    <div class="col-md-6 offset-md-3">
    <form action="/campgrounds" method="post" novalidate class="validate-form" enctype="multipart/form-data">
        <div class="mb-3">
        <label for="title" class="form-label">name</label>
        <input  class="form-control" type="text" name="title" id="title" placeholder="name" required>
    <div class="valid-feedback">
        valid info
    </div>
    </div>
    <div class="mb-3">
        <label for="location" class="form-label">location</label>
        <input  class="form-control" type="text" name="location" id="location" placeholder="loc" required>
        <div class="valid-feedback">
            valid info
        </div>
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">
            Images
        </label>
        <input class="form-control" type="file" id="image" name="image" multiple>
      </div>
   <!-- <input type="file" name="image" id="" multiple>-->
    <!--<div class="mb-3">
        <label for="image" class="form-label">image</label>
        <input  class="form-control" type="text" name="image" id="image" placeholder="image" required>
        <div class="valid-feedback">
            valid info
        </div>
    </div>-->
    <div class="mb-3">
        <label for="price" class="form-label">price</label>
        <input  class="form-control" type="number" name="price" id="price" placeholder="Rupees" required>
        <div class="valid-feedback">
            valid info
        </div>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">description</label>
        <textarea  class="form-control" type="text" name="description" id="description" placeholder="description" required></textarea>
        <div class="valid-feedback">
            valid info
        </div>
    </div>
    <div class="mb-3"> <button class="btn btn-success">submit</button>
    </div>   
    </form>
    <a href="/campgrounds">goback</a>
    </div>
</div>
